<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}KelMenu.com
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/base.css') }}">
		<link rel="stylesheet" href="{{ asset('css/shared/header.css') }}">
		<link rel="stylesheet" href="{{ asset('css/shared/nav.css') }}">
		<link rel="stylesheet" href="{{ asset('css/shared/footer.css') }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap" rel="stylesheet">

		<script src="https://kit.fontawesome.com/ea4e3482af.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		{% include "shared/_header.html.twig" %}
		{% include "shared/_nav.html.twig" %}

		<div class="container my-5"> {% block body %}{% endblock %}
			</div>

			{% include "shared/_footer.html.twig" %}

		</body>
	</html>
